@config "../../tailwind.config.ts";
@import "tailwindcss";
@tailwind utilities;

/* @layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css"; */

@font-face {
  font-family: "WildWordsRoman";
  src: url("/../fonts/New_Wild_Words.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-darkmode: oklch(20.5% 0 0);
  --font-wild-words-roman: "WildWordsRoman", sans-serif;
}

@layer base {}

@layer components {
  .btn-primary {
    @apply bg-blue-800 hover:bg-blue-400 cursor-pointer rounded;
  }

  .card {
    @apply bg-neutral-800 items-center justify-center p-2 md:p-5 lg:p-10 xl:p-10
  }

  .login-form {
     background-image: url(../../public/img/img-login.png);
     background-position: center center;
     background-attachment: fixed;
  }
}