@config "../../tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: "wild words roman";
  src: url("./assets/fonts/New_Wild_Words.TTF") format("truetype");
  font-weight: 400 600; /* Define weights for semibold */
  font-style: normal;
}
@theme {
  --color-darkmode: oklch(20.5% 0 0);
  --color-SlateBlueText: "#547593";
  --color-MidnightNavyText: "#102D47";
  --color-dark_border: "#224767", --text-17: "1.0625rem";
  --text-17--line-height: "1.4875rem";
  --text-53: "3.3125rem";
  --text-53--line-height: "3.875rem";
  --text-40: "2.5rem";
  --text-40--line-height: "3.4375rem";
  --text-28: "1.75rem";
  --text-28--line-height: "2.25rem";
  --color-primary: oklch(97% 0 0);
  --transition-duration-0: "0ms";
  --transition-duration-04s: "0.4s";
  --transition-duration-2000: "2000ms";
  --font-wild-words-roman: "wild words roman";
}

